In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Demand = pd.read_csv('Demand.csv')
Lost_Demand = pd.read_csv('Lost demand.csv')

In [3]:
Demand = Demand.rename(columns = {'Calopeia':'Demand'})
Lost_Demand = Lost_Demand.rename(columns = {'Calopeia':'Lost_Demand'})
Demand['Lost_Demand'] = Lost_Demand.Lost_Demand
All_Data = Demand.copy()

In [4]:
Finished_Goods_Inventory = pd.read_csv('Finished Goods Inventory.csv')
# Finished Goods Inventory at or destined for the warehouse in Calopeia, by current location
Finished_Goods_at_warehouse_in_Calopeia = Finished_Goods_Inventory[['day','warehouse']]
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail = Finished_Goods_Inventory[['day','mail']]
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck = Finished_Goods_Inventory[['day','truck']]

In [5]:
Finished_Goods_at_warehouse_in_Calopeia = Finished_Goods_at_warehouse_in_Calopeia.dropna()
Finished_Goods_at_warehouse_in_Calopeia['day'] = Finished_Goods_at_warehouse_in_Calopeia.apply(lambda row:round(row['day']),axis=1)
data = Finished_Goods_at_warehouse_in_Calopeia.groupby(by = ['day'])['warehouse'].sum()
Finished_Goods_at_warehouse_in_Calopeia_processed = pd.DataFrame(data = data).reset_index()
All_Data = pd.merge(All_Data,Finished_Goods_at_warehouse_in_Calopeia_processed,how='left',on=['day'])
All_Data = All_Data.rename(columns={'warehouse':'inventory_in_warehouse'})

In [6]:
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail = Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail.dropna()
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail['day'] = Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail.apply(lambda row:round(row['day']),axis=1)
data = Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail.groupby(by = ['day'])['mail'].sum()
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail_processed = pd.DataFrame(data = data).reset_index()
All_Data = pd.merge(All_Data,Finished_Goods_destined_for_the_warehouse_in_calopeia_by_mail_processed,how='left',on=['day'])

In [7]:
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck = Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck.dropna()
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck['day'] = Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck.apply(lambda row:round(row['day']),axis=1)
data = Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck.groupby(by = ['day'])['truck'].sum()
Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck_processed = pd.DataFrame(data = data).reset_index()
All_Data = pd.merge(All_Data,Finished_Goods_destined_for_the_warehouse_in_calopeia_by_truck_processed,how='left',on=['day'])

In [8]:
Inventory_in_factory = pd.read_csv('WIP inventory in the Calopeia factory.csv')
Inventory_in_factory = Inventory_in_factory.rename(columns={'Calopeia':'Inventory_in_factory'})
Inventory_in_factory['day'] = Inventory_in_factory.apply(lambda row: round(row['day']),axis=1)
data = Inventory_in_factory.groupby(by='day')['Inventory_in_factory'].sum()
Inventory_in_factory_processed = pd.DataFrame(data)
All_Data = pd.merge(All_Data,Inventory_in_factory_processed,how='left',on=['day'])

In [9]:
Shipment_from_warehouse = pd.read_csv('Shipments from the warehouse.csv')
Shipment_from_warehouse = Shipment_from_warehouse.rename(columns={'Calopeia':'Shipments from the warehouse'})
All_Data = pd.merge(All_Data,Shipment_from_warehouse,how='left',on=['day'])

In [10]:
All_Data = All_Data.fillna(0)
All_Data = All_Data.set_index('day')
All_Data

,Demand,Lost_Demand,inventory_in_warehouse,mail,truck,Inventory_in_factory_x,Inventory_in_factory_y
day,,,,,,,
1,11,11,0.0,0.0,0.0,0.0,0
2,7,7,0.0,0.0,0.0,0.0,0
3,4,4,0.0,0.0,0.0,0.0,0
4,8,8,0.0,0.0,0.0,0.0,0
5,5,5,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...
1351,65,0,239.0,0.0,600.0,0.0,65
1352,52,0,37.0,0.0,150.0,0.0,52
1353,48,11,0.0,0.0,600.0,150.0,37
1354,65,11,150.0,0.0,750.0,0.0,0
1355,34,0,62.0,0.0,150.0,0.0,88

In [11]:
All_Data_first_year = All_Data.loc[1:14]
All_Data_first_year

,Demand,Lost_Demand,inventory_in_warehouse,mail,truck,Inventory_in_factory_x,Inventory_in_factory_y
day,,,,,,,
1,11,11,0.0,0.0,0.0,0.0,0
2,7,7,0.0,0.0,0.0,0.0,0
3,4,4,0.0,0.0,0.0,0.0,0
4,8,8,0.0,0.0,0.0,0.0,0
5,5,5,0.0,0.0,0.0,0.0,0
6,8,8,0.0,0.0,0.0,0.0,0
7,14,14,0.0,0.0,0.0,0.0,0
8,6,6,0.0,0.0,300.0,300.0,0
9,31,31,0.0,0.0,150.0,0.0,0
10,7,7,0.0,0.0,150.0,0.0,0
11,7,7,0.0,0.0,150.0,0.0,0
12,19,19,0.0,0.0,150.0,0.0,0
13,5,5,0.0,0.0,150.0,0.0,0
14,6,6,150.0,0.0,300.0,0.0,0

In [12]:
plt.bar(All_Data_first_year.index.values,All_Data_first_year.Inventory_in_factory)

AttributeError: 'DataFrame' object has no attribute 'Inventory_in_factory'