In [4]:
import numpy as np
import pandas as pd
import math 
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

## Question 1

In [5]:
customers = pd.read_csv('customers.csv')
def normalises_the_data_z_score(input_data):
    data_normalised = preprocessing.scale(customers[['Age','Income','Score']])
    data_normalised = pd.DataFrame(data=data_normalised,columns = list(input_data.columns))
    return data_normalised

In [15]:
normalises_the_data_z_score(customers)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

     Age  Income  Score
0     19      15     39
1     21      15     81
2     20      16      6
3     23      16     77
4     31      17     40
..   ...     ...    ...
195   35     120     79
196   45     126     28
197   32     126     74
198   32     137     18
199   30     137     83

[200 rows x 3 columns]