In [1]:
import numpy as np
import pandas as pd

In [2]:
# Store all numbers of stores in a list
store_restaurant = pd.read_excel('store_restaurant.xlsx')
store_number  = store_restaurant.STORE_NUMBER
print(store_number)

0    46673
1     4904
2    12631
3    20974
Name: STORE_NUMBER, dtype: int64

## Match the order, keep the Recipe Id

In [3]:
menuitem = pd.read_csv('menuitem.csv') 
menu_items = pd.read_csv('menu_items.csv') 
menu_items = menu_items.rename(columns={'MenuItemId': 'Id'})
orders = pd.merge(menuitem, menu_items, how="left", on=["PLU", "Id"]).drop(columns=['PLU','Id'])
orders['date'] = pd.to_datetime(orders['date'])
orders = orders.rename(columns={'Quantity':'Quantity_orders'})
orders

       StoreNumber  Quantity_orders       date  RecipeId
0            46673                1 2015-03-05       358
1            46673                1 2015-03-05       305
2            12631                1 2015-03-05        47
3            12631                1 2015-03-05        22
4            12631                1 2015-03-05       579
...            ...              ...        ...       ...
91426         4904                1 2015-06-15       302
91427         4904                1 2015-06-15       109
91428         4904                1 2015-06-15       107
91429        12631                1 2015-06-15        40
91430        46673                1 2015-06-15       305

[91431 rows x 4 columns]

## Match the main ingredient and the quantity

In [4]:
recipe_ingredient_assignments = pd.read_csv('recipe_ingredient_assignments.csv')
orders_with_ingredient = pd.merge(orders, recipe_ingredient_assignments, how="left", on=["RecipeId"])
orders_with_ingredient['Quantity'] = orders_with_ingredient['Quantity'] * orders_with_ingredient['Quantity_orders']
orders_with_ingredient = orders_with_ingredient.drop(columns=['Quantity_orders'])
orders_with_ingredient

        StoreNumber       date  RecipeId  IngredientId  Quantity
0             46673 2015-03-05       358           3.0       5.0
1             46673 2015-03-05       305          97.0       1.0
2             46673 2015-03-05       305         100.0       1.0
3             46673 2015-03-05       305         110.0       2.0
4             46673 2015-03-05       305         147.0       1.0
...             ...        ...       ...           ...       ...
177023        12631 2015-06-15        40           9.0       2.0
177024        46673 2015-06-15       305          97.0       1.0
177025        46673 2015-06-15       305         100.0       1.0
177026        46673 2015-06-15       305         110.0       2.0
177027        46673 2015-06-15       305         147.0       1.0

[177028 rows x 5 columns]

## Match the sub ingredient and the quantity

In [5]:
recipe_sub_recipe_assignments = pd.read_csv('recipe_sub_recipe_assignments.csv')
orders_with_sub_ingredient = pd.merge(orders, recipe_sub_recipe_assignments, how="left", on=["RecipeId"])
orders_with_sub_ingredient['Factor'] = orders_with_sub_ingredient['Factor'] * orders_with_sub_ingredient['Quantity_orders']
orders_with_sub_ingredient = orders_with_sub_ingredient.drop(columns=['Quantity_orders'])
orders_with_sub_ingredient = orders_with_sub_ingredient.dropna()
orders_with_sub_ingredient

        StoreNumber       date  RecipeId  SubRecipeId  Factor
0             46673 2015-03-05       358          1.0     1.0
1             46673 2015-03-05       358          9.0     1.0
2             46673 2015-03-05       358         10.0     1.0
3             46673 2015-03-05       358         12.0     1.0
5             12631 2015-03-05        47          9.0     1.0
...             ...        ...       ...          ...     ...
211232         4904 2015-06-15       107         12.0     1.0
211233        12631 2015-06-15        40          1.0     1.0
211234        12631 2015-06-15        40          9.0     1.0
211235        12631 2015-06-15        40         10.0     1.0
211236        12631 2015-06-15        40         12.0     1.0

[162752 rows x 5 columns]

In [6]:
sub_recipe_ingr_assignments = pd.read_csv('sub_recipe_ingr_assignments.csv')
orders_with_sub_ingredient_1 = pd.merge(orders_with_sub_ingredient, sub_recipe_ingr_assignments, how="left", on=["SubRecipeId"])
orders_with_sub_ingredient_1

,StoreNumber,date,RecipeId,SubRecipeId,Factor,IngredientId,Quantity
0,46673,2015-03-05,358,1.0,1.0,1,1
1,46673,2015-03-05,358,1.0,1.0,135,2
2,46673,2015-03-05,358,1.0,1.0,138,1
3,46673,2015-03-05,358,1.0,1.0,146,1
4,46673,2015-03-05,358,1.0,1.0,157,1
...,...,...,...,...,...,...,...
924549,12631,2015-06-15,40,12.0,1.0,37,0
924550,12631,2015-06-15,40,12.0,1.0,39,0
924551,12631,2015-06-15,40,12.0,1.0,43,0
924552,12631,2015-06-15,40,12.0,1.0,122,0
924553,12631,2015-06-15,40,12.0,1.0,123,0

In [7]:
orders_with_sub_ingredient_2 = orders_with_sub_ingredient_1.copy()
orders_with_sub_ingredient_2['Quantity(factor)'] = orders_with_sub_ingredient_2.Factor * orders_with_sub_ingredient_2.Quantity
orders_with_sub_ingredient_2

,StoreNumber,date,RecipeId,SubRecipeId,Factor,IngredientId,Quantity,Quantity(factor)
0,46673,2015-03-05,358,1.0,1.0,1,1,1.0
1,46673,2015-03-05,358,1.0,1.0,135,2,2.0
2,46673,2015-03-05,358,1.0,1.0,138,1,1.0
3,46673,2015-03-05,358,1.0,1.0,146,1,1.0
4,46673,2015-03-05,358,1.0,1.0,157,1,1.0
...,...,...,...,...,...,...,...,...
924549,12631,2015-06-15,40,12.0,1.0,37,0,0.0
924550,12631,2015-06-15,40,12.0,1.0,39,0,0.0
924551,12631,2015-06-15,40,12.0,1.0,43,0,0.0
924552,12631,2015-06-15,40,12.0,1.0,122,0,0.0
924553,12631,2015-06-15,40,12.0,1.0,123,0,0.0

In [8]:
orders_with_sub_ingredient_3 = orders_with_sub_ingredient_2.copy()
orders_with_sub_ingredient_3=orders_with_sub_ingredient_3.drop(columns=['Factor','Quantity','SubRecipeId'])
orders_with_sub_ingredient_3 = orders_with_sub_ingredient_3.rename(columns={'Quantity(factor)':'Quantity'})
orders_with_sub_ingredient_3

        StoreNumber       date  RecipeId  IngredientId  Quantity
0             46673 2015-03-05       358             1       1.0
1             46673 2015-03-05       358           135       2.0
2             46673 2015-03-05       358           138       1.0
3             46673 2015-03-05       358           146       1.0
4             46673 2015-03-05       358           157       1.0
...             ...        ...       ...           ...       ...
924549        12631 2015-06-15        40            37       0.0
924550        12631 2015-06-15        40            39       0.0
924551        12631 2015-06-15        40            43       0.0
924552        12631 2015-06-15        40           122       0.0
924553        12631 2015-06-15        40           123       0.0

[924554 rows x 5 columns]

## Append the main ingredient and sub ingredient

In [9]:
orders_with_all_ingredient = pd.concat([orders_with_sub_ingredient_3,orders_with_ingredient])
orders_with_all_ingredient = orders_with_all_ingredient[orders_with_all_ingredient.Quantity != 0]
orders_with_all_ingredient = orders_with_all_ingredient.drop(columns=['RecipeId'])
orders_with_all_ingredient

        StoreNumber       date  IngredientId  Quantity
0             46673 2015-03-05           1.0       1.0
1             46673 2015-03-05         135.0       2.0
2             46673 2015-03-05         138.0       1.0
3             46673 2015-03-05         146.0       1.0
4             46673 2015-03-05         157.0       1.0
...             ...        ...           ...       ...
177023        12631 2015-06-15           9.0       2.0
177024        46673 2015-06-15          97.0       1.0
177025        46673 2015-06-15         100.0       1.0
177026        46673 2015-06-15         110.0       2.0
177027        46673 2015-06-15         147.0       1.0

[846187 rows x 4 columns]

## Keeping only lettuce

In [ ]:
orders_with_lettuces = orders_with_all_ingredient[orders_with_all_ingredient.IngredientId == 27]
orders_with_lettuces

        StoreNumber       date  IngredientId  Quantity
12            46673 2015-03-05          27.0       2.0
30            12631 2015-03-05          27.0       2.0
53            12631 2015-03-05          27.0       2.0
76            46673 2015-03-05          27.0       2.0
104           12631 2015-03-05          27.0       2.0
...             ...        ...           ...       ...
172795        12631 2015-06-13          27.0       5.0
173099        12631 2015-06-13          27.0       5.0
173959        12631 2015-06-14          27.0       5.0
174358        12631 2015-06-14          27.0       5.0
174803        20974 2015-06-14          27.0       5.0

[43164 rows x 4 columns]

## Calculate the demand of lettuce

In [11]:
lettuce_demand = pd.DataFrame(data=orders_with_lettuces.groupby(by=['StoreNumber','date'])['Quantity'].sum())
lettuce_demand = lettuce_demand.reset_index()
lettuce_demand

     StoreNumber       date  Quantity
0           4904 2015-03-13     176.0
1           4904 2015-03-14     182.0
2           4904 2015-03-15     347.0
3           4904 2015-03-16     400.0
4           4904 2015-03-17     406.0
..           ...        ...       ...
389        46673 2015-06-11     151.0
390        46673 2015-06-12     134.0
391        46673 2015-06-13      96.0
392        46673 2015-06-14     138.0
393        46673 2015-06-15     244.0

[394 rows x 3 columns]

In [12]:
store_number_0 = store_number[0]
store_number_1 = store_number[1]
store_number_2 = store_number[2]
store_number_3 = store_number[3]

In [13]:
lettuce_demand_46673 = lettuce_demand[lettuce_demand.StoreNumber == store_number_0].sort_values(by=['date'])

lettuce_demand_4904 = lettuce_demand[lettuce_demand.StoreNumber == store_number_1].sort_values(by=['date'])

lettuce_demand_12631 = lettuce_demand[lettuce_demand.StoreNumber == store_number_2].sort_values(by=['date'])

lettuce_demand_20974 = lettuce_demand[lettuce_demand.StoreNumber == store_number_3].sort_values(by=['date'])

lettuce_demand_46673.to_csv('lettuce_demand_46673.csv')
lettuce_demand_4904.to_csv('lettuce_demand_4904.csv')
lettuce_demand_12631.to_csv('lettuce_demand_12631.csv')
lettuce_demand_20974.to_csv('lettuce_demand_20974.csv')