In [5]:
import pandas as pd 
import numpy as np

In [78]:
# Copy all the data into dataframe
data = [[5.6,1.8, 'virginica'], \
        [1.5,0.2, 'setosa'], \
        [5.0,2.0, 'virginica'], \
        [1.3,0.3, 'setosa'], \
        [1.6,0.2, 'setosa'], \
        [4.6,1.3, 'versicolor'], \
        [6.0,2.5, 'versicolor'], \
        [5.6,2.4, 'versicolor'], \
        [4.5,1.6, 'versicolor'], \
        [1.3,0.2, np.NaN], \
        [1.4,0.2, np.NaN], \
        [4.7,1.4, np.NaN], \
        [5.9,2.3, np.NaN], \
        [1.3,0.3, np.NaN], \
        [6.1,2.3, np.NaN] \
       ] 
df = pd.DataFrame(data, columns = ['petal length', 'petal width','class'])
df

    petal length  petal width       class
0            5.6          1.8   virginica
1            1.5          0.2      setosa
2            5.0          2.0   virginica
3            1.3          0.3      setosa
4            1.6          0.2      setosa
5            4.6          1.3  versicolor
6            6.0          2.5  versicolor
7            5.6          2.4  versicolor
8            4.5          1.6  versicolor
9            1.3          0.2         NaN
10           1.4          0.2         NaN
11           4.7          1.4         NaN
12           5.9          2.3         NaN
13           1.3          0.3         NaN
14           6.1          2.3         NaN

In [79]:
# # Normalise iris class to digits
# df_1 = df.copy()
# def change_class_to_index(iris_class):
#     if iris_class == 'virginica':
#         return 0
#     elif iris_class == 'setosa':
#         return 1
#     elif iris_class == 'versicolor':
#         return 2
# df_1['class'] = df_1['class'].apply(lambda x : change_class_to_index(x))
# def change_index_to_class(iris_index):
#     if iris_index == 0:
#         return 'virginica'
#     elif iris_index == 1:
#         return 'setosa'
#     elif iris_index == 2:
#         return 'versicolor'
# df_1

In [80]:
# 1. Normalise the data using the Z-score normalisation
df_2 = df.copy()
mean = list(df_2[['petal length','petal width']].mean()) 
std = list(df_2[['petal length','petal width']].std()) 
df_2['petal length'] = (df_2['petal length']-mean[0]) / std[0]
df_2['petal width'] = (df_2['petal width']-mean[1]) / std[1]
df_2

    petal length  petal width       class
0       0.896184     0.568689   virginica
1      -1.100747    -1.137378      setosa
2       0.603950     0.781948   virginica
3      -1.198158    -1.030749      setosa
4      -1.052042    -1.137378      setosa
5       0.409127     0.035543  versicolor
6       1.091006     1.315094  versicolor
7       0.896184     1.208464  versicolor
8       0.360422     0.355431  versicolor
9      -1.198158    -1.137378         NaN
10     -1.149453    -1.137378         NaN
11      0.457833     0.142172         NaN
12      1.042300     1.101835         NaN
13     -1.198158    -1.030749         NaN
14      1.139712     1.101835         NaN

In [152]:
# 2. Use the k-Nearest Neighbours method with k = 3 to predict the missing classes. Use the Euclidean norm in your distance calculations.
def return_nearest_neighbor(petal_length,petal_width,k):
    dist_list = []
    for i in range(0,9):
        petal_length_test = df_2.iloc[i]['petal length']
        petal_width_test = df_2.iloc[i]['petal width']
        dist_list.append(np.sqrt(np.sum(np.square([petal_length-petal_length_test,petal_width-petal_width_test]))))
    dist_array = np.array(dist_list)
    smallest_k_index = dist_array.argsort()[:k]
    return list(smallest_k_index)
def return_iris_class(nearest_neighbor):
    df = pd.DataFrame(data = {'Appearance': [0, 0, 0]},index=['virginica', 'setosa', 'versicolor'])
    for element in nearest_neighbor:
        df.loc[element,'Appearance'] += 1
    return list(df.idxmax(axis = 0))[0]

for index in range(9,15):
    petal_length = df_2.loc[index,'petal length']
    petal_width = df_2.loc[index,'petal width']
    smallest_k_index = return_nearest_neighbor(petal_length,petal_width,3)
    nearest_neighbor = list(df_2.iloc[smallest_k_index]['class'])
    df_2.loc[index,'class'] = return_iris_class(nearest_neighbor)
df_2

    petal length  petal width       class
0       0.896184     0.568689   virginica
1      -1.100747    -1.137378      setosa
2       0.603950     0.781948   virginica
3      -1.198158    -1.030749      setosa
4      -1.052042    -1.137378      setosa
5       0.409127     0.035543  versicolor
6       1.091006     1.315094  versicolor
7       0.896184     1.208464  versicolor
8       0.360422     0.355431  versicolor
9      -1.198158    -1.137378      setosa
10     -1.149453    -1.137378      setosa
11      0.457833     0.142172  versicolor
12      1.042300     1.101835  versicolor
13     -1.198158    -1.030749      setosa
14      1.139712     1.101835  versicolor